#containerOfImage{
    display: flex;
    width: 100%;
    height: 700px;
    margin: auto;
}
body{
    padding: 0%;
    margin: 0%;
}

.a{
    width:40%;
    height:100%;
    background-color:black;
    opacity: 0.9;
    color:white ;

}
.b{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to right,rgb(0, 0, 0)10%,rgb(131, 121, 121)40%,black);

}
img{
    height: 100%;
    width:100%;
    opacity: 0.2;
    z-index: 1;
    
}
#iconbox{
    display: flex;
    margin-top: -20-x;
    margin-left: 50px;
}
#iconbox>button{
    background-color: black;
    color: white;
    border-radius:10px ;
    position: relative;
}
#fonticon{
    display: flex;
    width: 100px;
    height:70px;
    background-color: #0f79af;
    color: black;
    border-radius: 10px;
    margin-left: 90px;
}
#fonticon>div{
    margin-top: 10px;
}
.fa-solid{
    font-size: 40px;
    padding-left: 15px;
    margin-top: 4px;
    color: white;

}
#fonticon:hover{
    background-color: rgb(20, 127, 214);
}
.continue{
    font-size: 50px;
    color: aliceblue;
}
#iconContainer{
    display: flex;
    width: 600px;
    height: auto;
    margin-top: 100px;
    margin-left: -45px;
    
}
h3{
    margin-right: -200px;
    margin-left: 50px;
    height: 10px;
    width: auto;
}
h1{
    margin-left: 50px;
}
#righticon{
    display: flex;
    position: relative;
    margin-left: 20px;
    width: 350px;
    box-sizing: border-box;
    gap:20px
    
    
    
}
#righticon>div{
    margin-left: 5px;
    width: 50px;
    height:70%;
    background-color: #425256;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: -10px;
}
.fa-solid {
    color: white;
    font-size: 20px;
    margin: 30 30 30 30;
    padding-top: 10px;
    padding-right: 10px;

    
}
table{
    margin-left: 50px;
    margin-top: 20px;
}
td{
    color: #8197A4;
    font-weight: bolder;
}
.spn{
    color:#79B8F3 ;
}
#mediaContainer{
    width:400px;
    height:60px;
    margin-left: 500px;
    margin-top: -150px;

}
.media{
    display: flex;
    width:33.33%;
    height:100%;
    margin: auto;
}
#mediaContainer{
    display: flex;
}

p{
   
    color: white;
    
}
p{
    text-decoration: none;
}
a{
    text-decoration: none;
}
